@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pallette-black: hsla(153, 80%, 6%, 1);
  --pallette-green: hsla(149, 35%, 78%, 1);
  --pallette-green-dark: hsla(151, 77%, 30%, 1);
  --pallette-green-light: hsla(120, 100%, 99%, 1);
}

.bg-calc {
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    var(--pallette-green-light) 0,
    var(--pallette-green-light) 1px,
    var(--pallette-green) 0,
    var(--pallette-green) 50%
  );
}
